<!DOCTYPE html>
<html>
<head>
  <title>Registration system PHP and MySQL</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<style>
* {
  margin: 0px;
  padding: 0px;
  font-family: arial;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 100%;
  margin: 0 auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
.spaces, .content {
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
.inputqr{
	width:60%;
	height:50px;
	margin:auto;
	padding-bottom: 10px;
}
.pic{
 width: 50px;
 height: 50px;
 float: left;
 line-height:50px;
 text-alight:center;
}
.picname{
	min-width:50px;
	height:50px;
	float:left;
	margin:auto;
	padding-left:5%;
 line-height:50px;
 text-alight:center;
}
.date{
	min-width:50px;
	height:50px;
	float:left;
	padding-left:5%;
 line-height:50px;
 text-alight:center;
}
</style>
  <div class="header">
  	<h2>Generated qrcodes</h2>
  </div>
  <div class="spaces">
		{% for lastPic in htmlqr %}
			{{ lastPic | raw}}
		{% endfor %}
  </div>
</body>
</html>